body {
	width: 800px;
	margin: 0 auto 20px auto;
	font-family: 'Raleway', sans-serif;
	font-size: medium;
	background-color: #ddd;
}

header {
	background-color: #fff;
}

main {
	position: relative;
	top: 45px;
}

#benefitpic {
	background-image: url(../img/benefit.png);
	background-repeat: no-repeat;
	color: white;
	text-shadow: 0px 0px 6px black;
	max-width: 800px;
	height: 226px;
	padding: 20px;
	line-height: 1.4em;
	border-bottom: 10px solid #ddd;
}

.home ul {
	position: relative;
}

.home li {
	text-decoration: none;
	font-size: 1.6em;
	font-weight: bold;
	display: inline;
	background-color: purple;
	color: white;
	padding: 15px 15px;
	margin: 0 10px 0 0;
	float: left;
}

.home a {
	text-decoration: none;
	color: white;
}


.home li:hover {
	background-color: #888;
}


section {
	background-color: #fff;
	padding: 0 20px;
	width: 60%;
	float: left;
	clear: both;
	margin-top: 70px;
	margin-bottom: 20px;
}

section h1 {
	font-size: 2em;
	padding-top: 10px;
}

section h2 {
	font-size: 1.4em;
	color: purple;
	margin: 30px 0 5px 0;
}

.home section h2 {
	font-size: 2.3em;

}

section h3 {
	font-size: 1.4em; 
	margin-bottom: 0;
	padding: 0;
}

section p {
	line-height: 1.2em;
	font-size: .9em;
}

.bold {
	font-weight: bold;
	margin: 0;
	color: purple;
}

.home article p:last-of-type {
	color:purple;
	font-weight: bold;
	margin-bottom: 30px;
}


aside {
	float: left;
	width: 30%;
	background-color: #aaa;
	padding: 10px;
	margin-left: 20px;
	margin-top: 70px;
	font-size: small;
}

aside h2 {
	color: white;
}

aside time {
	color: white;
	font-size: 1.4em;
	line-height: 1em;
}

aside h3 {
	color: purple;
	margin: 0;
}

aside p {
	color: black;
}

#about li {
	line-height: 1.2em;
	margin-bottom: 10px;
}



#events section h3 {
	font-size: 1em;
	margin: 0;
}

#events time {
	font-size: 1em;
}

footer {
	clear: both;
	background-color: #ccc;
	padding: 20px;
	font-size: .8em;
	color: white;
	line-height: 1.2em;

}


/* ============
   DROP DOWN MENU
   ============ */
   
   
header nav {
	position: absolute;
	clear: both;
	z-index: 1;	
}

nav ul {
	width: 800px;
	height: 100px;
	padding: 0 0 20px 0;
	color: white;
	clear: both;
}

nav li {
	float: left;
	display: block;
	text-align: center;
	position: relative;
	padding: 6px 10px;
	margin-right: 5px;
	background-color: purple;
	font-size: 1.1em;
}

nav li a {
	text-decoration: none;
	color: white;
	display: block;
}

nav a:visited {
	color: white;
}

nav li ul {
	display: none;
	position: absolute;
	padding: 0;
	width: 500px;
}

nav li:hover ul {
	display: block;
	margin-top: 6px;
	border-top: 2px white solid;
}

nav li li {
	background-color: #999;
	color: purple;
	font-size: .8em;
	border: 1px white solid;
	margin: 0;
}

nav li li:hover {
	background-color: purple;
}

#cle nav li {
	background-color: #888;
	display: block;
	margin: 0 0 15px 20px;

}

#cle nav ul {
	font-size: .8em;
	width: 250px;
}

#cle nav li:hover {
	background-color: #555;
}

.clear {
	clear: both;
}
