body {
	width: 70%;
	max-width: 800px;
	min-width: 525px;
	margin: 0 auto 20px auto;
	font-family: 'Raleway', sans-serif;
	background-color: #ddd;
}

header {
	background-color: #fff;
}

main {
	position: relative;
	top: 45px;
	background-color: #fff;
}

#benefitpic {
	background-image: url(../img/benefit.png);
	background-repeat: no-repeat;
	color: white;
	text-shadow: 0px 0px 6px black;
	max-width: 800px;
	height: 266px;
	padding: 20px;
	line-height: 1.4em;
}

main li {
	text-decoration: none;
	display: block;
}


section {
	background-color: #fff;
}

header nav {
	position: absolute;
	clear: both;
	z-index: 1;	
}


nav ul {
	width: 800px;
	height: 100px;
	padding: 0 0 20px 0;
	color: white;
	clear: both;
}

nav li {
	float: left;
	display: block;
	text-align: center;
	position: relative;
	padding: 6px 10px;
	margin-right: 5px;
	background-color: purple;
	font-size: 1.1em;
}

nav li a {
	text-decoration: none;
	color: white;
	display: block;
}

nav a:visited {
	color: white;
}

nav li ul {
	display: none;
	position: absolute;
	padding: 0;
	width: 500px;
}

nav li:hover ul {
	display: block;
	margin-top: 6px;
	border-top: 2px white solid;
}

nav li li {
	background-color: #BBB;
	color: purple;
	font-size: .8em;
	border: 1px white solid;
	margin: 0;
}

nav li li:hover {
	background-color: purple;
}

